@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

@layer base {
  button:not(:disabled) {
    @apply transition duration-150;
  }

  button:not(:disabled):active {
    transform: scale(0.98);
  }
}
